$voteifyTheme: (
  primary: #00d4e4,
  accent: #673567,
  secondary: #007bff,
  text: #393949,
);

// TODO: legacy - need change to voteify palette
$colors: (
 white: #fff,
 black: #000,
 backgroundGrey: #FDFDFD,
 lightGrey: #FAFAFA,
 textGrey: #717171,
 borderGrey: #E0E0E0,
 buttonGrey: #F4F4F4,
 accent: #F0669B,
 error: #cc121d,
 danger: #EB5757,
 progress: #58C9DF,
);

$themeColors: (
 purple: #A394FB,
 orange: #FFD466,
 green: #0FBB58,
 blue: #1700e3,
 pink: #FB01F1,
);
