.Toastify__toast-container:global {
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff; }
.Toastify__toast-container--top-left:global {
  top: 1em;
  left: 1em; }
.Toastify__toast-container--top-center:global {
  top: 1em;
  left: 50%;
  margin-left: -160px; }
.Toastify__toast-container--top-right:global {
  top: 1em;
  right: 1em; }
.Toastify__toast-container--bottom-left:global {
  bottom: 1em;
  left: 1em; }
.Toastify__toast-container--bottom-center:global {
  bottom: 1em;
  left: 50%;
  margin-left: -160px; }
.Toastify__toast-container--bottom-right:global {
  bottom: 1em;
  right: 1em; }

@media only screen and (max-width: 480px) {
  .Toastify__toast-container:global {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0; }
  .Toastify__toast-container--top-left:global, .Toastify__toast-container--top-center:global, .Toastify__toast-container--top-right:global {
    top: 0; }
  .Toastify__toast-container--bottom-left:global, .Toastify__toast-container--bottom-center:global, .Toastify__toast-container--bottom-right:global {
    bottom: 0; }
  .Toastify__toast-container--rtl:global {
    right: 0;
    left: initial; } }

.Toastify__toast:global {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  direction: ltr; }
.Toastify__toast--rtl:global {
  direction: rtl; }
.Toastify__toast--default:global {
  background: #fff;
  color: #aaa; }
.Toastify__toast--info:global {
  background: #3498db; }
.Toastify__toast--success:global {
  background: #07bc0c; }
.Toastify__toast--warning:global {
  background: #f1c40f; }
.Toastify__toast--error:global {
  background: #e74c3c; }
.Toastify__toast-body:global {
  margin: auto 0;
  -ms-flex: 1;
  flex: 1; }

@media only screen and (max-width: 480px) {
  .Toastify__toast:global {
    margin-bottom: 0; } }

.Toastify__close-button:global {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start; }
.Toastify__close-button--default:global {
  color: #000;
  opacity: 0.3; }
.Toastify__close-button:hover:global, .Toastify__close-button:focus:global {
  opacity: 1; }

@keyframes :global(Toastify__trackProgress) {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

.Toastify__progress-bar:global {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 9999;
  opacity: 0.7;
  animation: Toastify__trackProgress linear 1;
  background-color: rgba(255, 255, 255, 0.7); }
.Toastify__progress-bar--rtl:global {
  right: 0;
  left: initial; }
.Toastify__progress-bar--default:global {
  background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); }

@keyframes :global(Toastify__bounceInRight) {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

@keyframes :global(Toastify__bounceOutRight) {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

@keyframes :global(Toastify__bounceInLeft) {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

@keyframes :global(Toastify__bounceOutLeft) {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@keyframes :global(Toastify__bounceInUp) {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes :global(Toastify__bounceOutUp) {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

@keyframes :global(Toastify__bounceInDown) {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

@keyframes :global(Toastify__bounceOutDown) {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.Toastify__bounce-enter--top-left:global, .Toastify__bounce-enter--bottom-left:global {
  animation-name: Toastify__bounceInLeft; }

.Toastify__bounce-enter--top-right:global, .Toastify__bounce-enter--bottom-right:global {
  animation-name: Toastify__bounceInRight; }

.Toastify__bounce-enter--top-center:global {
  animation-name: Toastify__bounceInDown; }

.Toastify__bounce-enter--bottom-center:global {
  animation-name: Toastify__bounceInUp; }

.Toastify__bounce-exit--top-left:global, .Toastify__bounce-exit--bottom-left:global {
  animation-name: Toastify__bounceOutLeft; }

.Toastify__bounce-exit--top-right:global, .Toastify__bounce-exit--bottom-right:global {
  animation-name: Toastify__bounceOutRight; }

.Toastify__bounce-exit--top-center:global {
  animation-name: Toastify__bounceOutUp; }

.Toastify__bounce-exit--bottom-center:global {
  animation-name: Toastify__bounceOutDown; }

@keyframes :global(Toastify__zoomIn) {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes :global(Toastify__zoomOut) {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.Toastify__zoom-enter:global {
  animation-name: Toastify__zoomIn; }

.Toastify__zoom-exit:global {
  animation-name: Toastify__zoomOut; }

@keyframes :global(Toastify__flipIn) {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

@keyframes :global(Toastify__flipOut) {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.Toastify__flip-enter:global {
  animation-name: Toastify__flipIn; }

.Toastify__flip-exit:global {
  animation-name: Toastify__flipOut; }

@keyframes :global(Toastify__slideInRight) {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes :global(Toastify__slideInLeft) {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes :global(Toastify__slideInUp) {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes :global(Toastify__slideInDown) {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes :global(Toastify__slideOutRight) {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0); } }

@keyframes :global(Toastify__slideOutLeft) {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0); } }

@keyframes :global(Toastify__slideOutUp) {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 110%, 0); } }

@keyframes :global(Toastify__slideOutDown) {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -110%, 0); } }

.Toastify__slide-enter--top-left:global, .Toastify__slide-enter--bottom-left:global {
  animation-name: Toastify__slideInLeft; }

.Toastify__slide-enter--top-right:global, .Toastify__slide-enter--bottom-right:global {
  animation-name: Toastify__slideInRight; }

.Toastify__slide-enter--top-center:global {
  animation-name: Toastify__slideInDown; }

.Toastify__slide-enter--bottom-center:global {
  animation-name: Toastify__slideInUp; }

.Toastify__slide-exit--top-left:global, .Toastify__slide-exit--bottom-left:global {
  animation-name: Toastify__slideOutLeft; }

.Toastify__slide-exit--top-right:global, .Toastify__slide-exit--bottom-right:global {
  animation-name: Toastify__slideOutRight; }

.Toastify__slide-exit--top-center:global {
  animation-name: Toastify__slideOutUp; }

.Toastify__slide-exit--bottom-center:global {
  animation-name: Toastify__slideOutDown; }

/*# sourceMappingURL=ReactToastify.css.map */