//font-family: 'Nunito Sans', sans-serif;
//font-family: 'Poppins', sans-serif;
//font-family: 'Libre Franklin', sans-serif;

$font-Nunito: 'Nunito Sans', sans-serif;
$font-Poppins: 'Poppins', sans-serif;
$font-LibreFranklin: 'Libre Franklin', sans-serif;
